<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <title>
      {%- if page_title -%}
        {{ page_title }}
        {%- if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif -%}
        &ndash; {{ shop.name }}
      {%- else -%}
        {{ shop.name }}
      {%- endif -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'head' %}
    {% render 'css-variables' %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    <script>
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>
  </head>

  <body class="template-{{ template.name | handle }}">
    <a href="#main-content" class="skip-to-content">
      {{ 'accessibility.skip_to_content' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <script src="{{ 'base.js' | asset_url }}" defer></script>
  </body>
</html>
